# macOS specific
.DS_Store

# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# DVC will track this
# Ignore the large files inside data subdirectories
# data/raw/*
data/processed/*

# Keep empty directories by tracking .gitkeep files (a common convention)
# You can create an empty file named ".gitkeep" in data/processed
!data/**/.gitkeep

# Notebook checkpoints
.ipynb_checkpoints

# MLflow and Hydra outputs
mlruns/
outputs/

# Submission file
submission.csv